<%= turbo_frame_tag paper do %>
  <p class="title">
    <%= paper.title.present? ? paper.title : "No title yet." %>
    <%= "(#{paper.year})" if paper.year.present? %>
    <% unless paper.read? %>
      <span class="label-green">NEW</span>
    <% end %>
  </p>
  <p class="author-caption"><%= paper.authors.present? ? paper.authors : "Authors" %></p>
  <% if paper.url.present? %>
    <div class="field-row">
      <p class="form-label">Url</p>
      <p><%= link_to paper.url, paper.url %></p>
    </div>
  <% end %>
  <div class="field-row">
    <p class="form-label">Source file</p>
    <% if paper.source_file.attached? %>
      <p><%= link_to paper.source_file.filename, rails_blob_path(paper.source_file, disposition: "attachment") %></p>
    <% elsif paper.url.present? %>
      <% if authenticated? %>
        <%= button_to "Fetch source file", fetch_source_file_path(paper), class: "button" %>
      <% else %>
        <div class="button disabled">Fetch source file</div>
      <% end %>
    <% else %>
      <p>No source file or url.</p>
    <% end %>
  </div>
  <div class="large-field">
    <p class="form-label">Auto summary</p>
    <% if paper.auto_summary.present? %>
      <p style="white-space:break-spaces;"><%= paper.auto_summary %></p>
    <% else %>
      <% if authenticated? %>
        <%= button_to "Generate", generate_auto_summary_path(paper), class: "button", form_class: "space-top" %>
      <% else %>
        <div class="space-top">
          <div class="button disabled">Generate</div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="large-field">
    <p class="form-label">Notes</p>
    <p><%= paper.notes.present? ? paper.notes : "No notes taken." %></p>
  </div>
<% end %>