<% content_for :title, "Paper Matrix" %>
<style>
  .header-button {
    transform: translateY(-8px);
  }

  .papers-list-item {
    display: block;
    margin-bottom: 24px;

    &:hover {
        text-decoration: none;
    }
  }

  .author-caption {
    font-size: 0.8em;
    margin: 0;
    padding: 0;
  }

  .label-green {
      display: inline-block;
      color: var(--green);
      font-size: 0.8rem;
      font-weight: 600;
      vertical-align: text-bottom;
  }
</style>
<div class="header-row">
  <h1>Paper Matrix</h1>
  <%= link_to "Add Paper", new_paper_path, class: "button header-button" %>
</div>
<div id="papers">
  <% @papers.each do |paper| %>
    <%= link_to paper, class: "papers-list-item" do %>
      <div id="<%= dom_id paper %>">
        <p>
          <%= paper.title.present? ? paper.title : "No Title Yet" %>
          <%= "(#{paper.year})" if paper.year.present? %>
          <% unless paper.read? %>
            <span class="label-green">NEW</span>
          <% end %>
        </p>
        <p class="author-caption"><%= paper.authors.present? ? paper.authors : "Authors" %></p>
      </div>
    <% end %>
  <% end %>
</div>
