<style>
  .header-button {
    display: inline-block;
    height: 36.4px;
  }

  @media screen and (max-width: 768px) {
    .header-button {
      transform: none;
      margin-top: 8px;
      margin-bottom: 24px;
    }
  }

  .papers-list-item {
    display: block;
    margin-bottom: 24px;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
  }
</style>
<div class="header-row">
  <h1>Paper Matrix</h1>
  <% if authenticated? %>
    <div>
      <%= link_to "Add Paper", new_paper_path, class: "button header-button" %>
      <%= button_to "Logout", {controller: :sessions, action: "destroy"}, method: :delete, class: "button header-button", form_class: "button-container" %>
    </div>
  <% else %>
    <div>
      <div class="button header-button disabled">Add Paper</div>
      <%= link_to "Sign in", new_session_path, class: "button header-button" %>
    </div>
  <% end %>
</div>
<div id="papers">
  <% @papers.each do |paper| %>
    <%= link_to paper, class: "papers-list-item" do %>
      <p>
        <%= paper.title.present? ? paper.title : "No Title Yet" %>
        <%= "(#{paper.year})" if paper.year.present? %>
        <% unless paper.read? %>
          <span class="label-green">NEW</span>
        <% end %>
      </p>
      <p class="author-caption"><%= paper.authors.present? ? paper.authors : "Authors" %></p>
    <% end %>
  <% end %>
</div>
