<style>
  .header-button {
    transform: translateY(-8px);
  }

  @media screen and (max-width: 768px) {
    .header-button {
      transform: none;
      margin-top: 8px;
      margin-bottom: 24px;
    }
  }

  .papers-list-item {
    display: block;
    margin-bottom: 24px;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
  }
</style>
<div class="header-row">
  <h1>Paper Matrix</h1>
  <%= link_to "Add Paper", new_paper_path, class: "button header-button" %>
</div>
<div id="papers">
  <% @papers.each do |paper| %>
    <%= link_to paper, class: "papers-list-item" do %>
      <p>
        <%= paper.title.present? ? paper.title : "No Title Yet" %>
        <%= "(#{paper.year})" if paper.year.present? %>
        <% unless paper.read? %>
          <span class="label-green">NEW</span>
        <% end %>
      </p>
      <p class="author-caption"><%= paper.authors.present? ? paper.authors : "Authors" %></p>
    <% end %>
  <% end %>
</div>
