<style>
  .or {
    font-weight: 600;
    font-style: italic;
    width: 100%;
    text-align: center;
    margin-bottom: 24px;
  }


  @media screen and (max-width: 768px) {
    .or {
        text-align: left;
    }
  }
</style>
<div class="header-row">
  <h1>Paper Matrix</h1>
  <%= link_to "Back to list", root_path %>
</div>
<p class="instructions">Add a paper. Either upload a pdf or enter a url.</p>
<%= form_with(model: @paper) do |form| %>
  <div class="field-row">
    <%= form.label :url, class: "form-label" %>
    <div class="grow">
      <%= form.text_field :url %>
      <p class="form-field-errors"><%= @paper.errors.messages[:url].join(", ") if @paper.errors.messages[:url].any? %>&nbsp;</p>
    </div>
  </div>
  <p class="or">OR</p>
  <div class="field-row">
    <%= form.label :source_file, class: "form-label" %>
    <div class="grow">
      <%= form.label :source_file, "Browse...", class: "button form-button" %>
      <%= form.file_field :source_file %>
      <p class="form-field-errors"><%= @paper.errors.messages[:source_file].join(", ") if @paper.errors.messages[:source_file].any? %>&nbsp;</p>
    </div>
  </div>
  <div class="submit">
    <%= form.submit class: "button" %>
    <p class="form-field-errors"><%= @paper.errors.messages[:base].join(", ") if @paper.errors.messages[:base].any? %>&nbsp;</p>
  </div>
<% end %>
