<p style="color: green"><%= notice %></p>
<p>
  <strong>Url:</strong>
  <%= @paper.url %>
</p>
<p>
  <strong>Title:</strong>
  <%= @paper.title %>
</p>
<p>
  <strong>Read:</strong>
  <%= @paper.read %>
</p>
<p>
  <strong>Authors:</strong>
  <%= @paper.authors %>
</p>
<p>
  <strong>Year:</strong>
  <%= @paper.year %>
</p>
<p>
  <strong>Auto summary:</strong>
  <%= @paper.auto_summary %>
</p>
<p>
  <strong>Notes:</strong>
  <%= @paper.notes %>
</p>
<div>
  <%= link_to "Edit this paper", edit_paper_path(@paper) %> |
  <%= link_to "Back to papers", papers_path %>
  <%= button_to "Destroy this paper", @paper, method: :delete %>
</div>
