<style>
  .title {
    font-size: 1.1rem;
  }

  .author-caption {
    margin-bottom: 32px;
  }

  .large-field {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .space-top {
    margin-top: 12px;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 18px;
  }
</style>
<div class="header-row">
  <h1>Paper Matrix</h1>
  <%= link_to "Back to list", root_path %>
</div>
<%= turbo_stream_from @paper %>
<%= render @paper %>
<div class="buttons">
  <% if authenticated? %>
    <div><%= link_to "Edit Paper", edit_paper_path(@paper), class: "button" %></div>
    <div><%= button_to "Delete Paper", @paper, method: :delete, class: "button button-warning", form_class: "button-container" %></div>
  <% else %>
    <div class="button disabled">Edit Paper</div>
    <div class="button disabled">Delete Paper</div>
  <% end %>
</div>
