<style>
  .title {
    font-size: 1.1rem;
  }

  .author-caption {
    margin-bottom: 32px;
  }

  .large-field {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 18px;
  }

  .button-container {
    display: block;
    height: 100%;

    >* {
      height: 100%;
    }
  }
</style>
<div class="header-row">
  <h1>Paper Matrix</h1>
  <%= link_to "Back to list", root_path %>
</div>
<p class="title">
  <%= @paper.title.present? ? @paper.title : "No title yet." %>
  <%= "(#{@paper.year})" if @paper.year.present? %>
  <% unless @paper.read? %>
    <span class="label-green">NEW</span>
  <% end %>
</p>
<p class="author-caption"><%= @paper.authors.present? ? @paper.authors : "Authors" %></p>
<% if @paper.url.present? %>
  <div class="field-row">
    <p class="form-label">Url</p>
    <p><%= link_to @paper.url %></p>
  </div>
<% end %>
<div class="field-row">
  <p class="form-label">Source file</p>
  <% if @paper.source_file.attached? %>
    <p><%= link_to @paper.source_file.filename, rails_blob_path(@paper.source_file, disposition: "attachment") %></p>
  <% elsif @paper.url.present? %>
    <p><%= button_to "Fetch source file", fetch_source_file_path(@paper), class: "button" %></p>
  <% else %>
    <p>No source file or url.</p>
  <% end %>
</div>
<div class="large-field">
  <p class="form-label">Auto summary</p>
  <% if @paper.auto_summary.present? %>
    <p style="white-space:break-spaces;"><%= @paper.auto_summary %></p>
  <% else %>
    <p><%= button_to "Generate", generate_auto_summary_path(@paper), class: "button" %></p>
  <% end %>
</div>
<div class="large-field">
  <p class="form-label">Notes</p>
  <p><%= @paper.notes.present? ? @paper.notes : "No notes taken." %></p>
</div>
<div class="buttons">
  <div><%= link_to "Edit Paper", edit_paper_path(@paper), class: "button" %></div>
  <div><%= button_to "Delete Paper", @paper, method: :delete, class: "button button-warning", form_class: "button-container" %></div>
</div>
